[Desktop Entry]
Type=Application
Name=Kyocera Raster Filter
GenericName=Kyocera Print Filter
Comment=High-performance Kyocera rastertokpsl print filter for CUPS
Exec=rastertokpsl %F
Icon=icon
Terminal=false
Categories=Utility;Printing;System;
MimeType=application/pdf;image/pwg-raster;image/urf;
Keywords=kyocera;printer;filter;cups;raster;gdi;linux;ppd;driver;
StartupNotify=true
